includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
    ignoreErrors:
        # Custom casts are currently not supported: https://github.com/nunomaduro/larastan/issues/890
        - '#(Access|Call) to an undefined (property|method) App\\Casts.*#'
        - '#Property .* does not accept App\\Casts.*#'

        - '#Access to an undefined property App\\Models\\.*::\$country#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$id#'
