includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
    ignoreErrors:
        - '#(Access|Call) to an undefined (property|method) App\\Casts.*#'  # Custom casts are currently not supported: https://github.com/nunomaduro/larastan/issues/890
